body {
  background-color: lightgreen;
  text-align: center;
  font-family: sans-serif;
}

div {
  font-family: sans-serif;
  max-width: 750px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

header {
  margin-top: 25px;
  margin-bottom: 50px;
}