main {
  background-color: #009933;
  text-align: center;
  font-family: sans-serif;
}
body {
  background-color:#009933;
  font-family:sans-serif;
}
p {
  font-family: sans-serif;
  max-width: 750px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

header {
  margin-top: 25px;
  margin-bottom: 50px;
}

div {
  margin-top:50px;
  margin-bottom:50px;
  text-align:center;

}


#article {
  background-color:#0099cc;
  margin: 20px 200px 20px 200px;
  padding: 20px;
  border: 2px solid;
  border-radius:20px;
}
#topbox {
  background-color:#ffff00;
  margin: 20px 450px 20px 450px;
  padding: 20px;
  border: 2px solid;
  border-radius:20px
}
.button {
  background-color:#ff0000;
  margin: 20px 550px 20px 550px;
  padding: 10px;
  border: 2px solid;
  border-radius:20px;
  text-align:center;
  font-weight:bold;
  color:black;
}
#intro {
  background-color:#ffff00;
  margin: 20px 200px 20px 200px;
  padding: 20px;
  border: 2px solid;
  border-radius:20px;
}

footer {
  text-align:left;
  margin-top:75px;
}

h1 {
  text-align:center;
}

.photo {
  background-color:#0099cc;
  margin: 20px 200px 20px 200px;
  padding: 20px;
  border: 2px solid;
  border-radius:20px;
}

a:link{
  color:black;
  text-decoration:none;

}

a:visited {
  color:black;
  text-decoration:none;
}

a:hover {
  color:white;
  text-decoration:none;
}

a:active {
  color:black;
  text-decoration:none;
}
  
  
/*article {
  background-color:#0099cc;
  margin: 20px 200px 20px 200px;
  padding: 20px;
  border: 2px solid;
  border-radius:20px;
}*/
/*div {
  border-style:outset;
  border-width:medium;
  background-color:#336699;
  padding:0;
  margin-left:0;
  margin-right:0;
}


/*h3 {
  padding:0;
}*/