body {
  background-color: #009933;
  text-align: center;
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
  max-width: 750px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

header {
  margin-top: 25px;
  margin-bottom: 50px;
}

div {
  margin-top:50px;
  margin-bottom:50px;

}


}
/*div {
  border-style:outset;
  border-width:medium;
  background-color:#336699;
  padding:0;
  margin-left:0;
  margin-right:0;
}


/*h3 {
  padding:0;
}*/